* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
    
#navbar{
    width: 15%;
    float: left;
    padding: 20px;
}

#main-doc{
    width:85%;
    float: left;
    padding: 20px;
}

.navbullets li{
list-style: none;
padding: 10px;
border-bottom: 1px solid;
}

.navbullets li a{
    text-decoration: none;
}

code{
    background-color: aliceblue;
    margin:10px 0;
    padding: 10px;
}

.main-section p{
    margin:20px 0;
}

@media screen and (max-width: 414px){
    main#main-doc{
        display: block;
        width: 100%;
    }
    nav#navbar{
        display: block;
        text-align: center;
        width: 100%;
    }
    h2{
        text-align: center;
    }
    code{
        line-height: 2;
    }
}